Repository cristianrodri/goal-measurement-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Fix eslint by fixing no-unused-vars and adding ecmaVersion = true
  .eslintrc
Due: none

override user update controller
  .lintstagedrc.json
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add "update email confirmation" custom controller and add email token api
  src/api/email-token/content-types/email-token/schema.json
  src/api/email-token/controllers/email-token.js
  src/api/email-token/routes/email-token.js
  src/api/email-token/services/email-token.js
  src/extensions/users-permissions/content-types/user/schema.json
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add updateEmail custom controller
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

avoid updating email from /api/update route
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

remove previous user token email when updateEmailConfirmation route is called
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add newEmail attribute to EmailToken schema
  src/api/email-token/content-types/email-token/schema.json
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

show error message when new email is already taken
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

update user by using email token
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

adding update password custom controller
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add a relation between all apis with user
  src/api/goal-activity/content-types/goal-activity/schema.json
  src/api/performance-activity/content-types/performance-activity/schema.json
  src/api/performance/content-types/performance/schema.json
  src/extensions/users-permissions/content-types/user/schema.json
Due: prettier --write

override auth register controller by changing email and username custom error message if one of them is taken by another user
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

avoid updating password from update controller
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

update auth callback controller
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

delete old email tokens every 12 hours automatically
  config/cron-tasks.js
  config/server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

create an email token after a user registration
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

create findAndDelete custom controller from email-token api
  src/api/email-token/controllers/email-token.js
  src/api/email-token/routes/custom-routes.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add a relation between goal api with performance and performance activity api
  src/api/goal/content-types/goal/schema.json
  src/api/performance-activity/content-types/performance-activity/schema.json
  src/api/performance/content-types/performance/schema.json
Due: prettier --write

override user destroy controller
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

making completed and weeklyRewardDone attributes not required
  src/api/goal/content-types/goal/schema.json
Due: prettier --write

disable draft and publish option for goal api and change maxLength of bigDescription from 1000 to 300
  src/api/goal/content-types/goal/schema.json
Due: prettier --write

fix misspelling attribute name
  src/api/goal-activity/content-types/goal-activity/schema.json
Due: prettier --write

make days of the week attributes not required and false as default
  src/api/goal-activity/content-types/goal-activity/schema.json
Due: prettier --write

disable draft and publish from goal activity api
  src/api/goal-activity/content-types/goal-activity/schema.json
Due: prettier --write

make createdAt and updatedAt private in api response in goal activity
  src/api/goal-activity/content-types/goal-activity/schema.json
Due: prettier --write

make updatedAt as private attribute in response api in goal
  src/api/goal/content-types/goal/schema.json
Due: prettier --write

add custom create controller into goal api
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

customize find controller from goal api
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

override findOne controller into goal api and populate goal activities data into find controller
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

override update controller from goal api
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Avoid updating the timestamps and related collections data
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add module-alias package and create a custom utility file
  package.json
  src/api/goal/controllers/goal.js
  src/index.js
  src/utils/utils.js
  yarn.lock
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

avoid updating deadline which is greater than the current date in goal api
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

avoid unnecessary user schema data when update controller is called
  src/extensions/users-permissions/strapi-server.js
  src/utils/utils.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

add a custom function to find a specific user goal
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

delete goal and delete goal activities related
  src/api/goal/content-types/goal/lifecycles.js
  src/api/goal/controllers/goal.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

delete all related date before a goal is deleted
  src/api/goal/content-types/goal/lifecycles.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Override the user find method. Get the one user instead of all users
  src/extensions/users-permissions/strapi-server.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

override create controller into goal activity api
  src/api/goal-activity/controllers/goal-activity.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

override update controller into goal activity api
  src/api/goal-activity/controllers/goal-activity.js
Due: eslint --fix --max-warnings=0, bash -c tsc --noEmit, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  bash -c tsc --noEmit: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
